{% extends "shares/base.html" %}

{% block title %}Your account {% endblock %}

{% block content %}
<div class="profile">
    {% if user.is_authenticated %}
        <h2>This is your profile page</h2>
        <p>Hello {{ user.username }}</p>
        <br>
        <form action="{% url "logout" %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <h2>You are not authenticated.</h2>
        <p>Please, <a href="{% url "login" %}">login</a> or
            <a href="{% url "investor_registration" %}"> create account.</a>
        </p>
    {% endif %}
</div>
{% endblock %}