body {
    background-color: rgb(143, 255, 255);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#main {
    float: left;
    width: 70%;
    padding: 0 0 0 30px;
}

#sidebar {
    float: right;
    width: 20%;
    padding: 10px;
    background-color: rgb(106, 241, 199);
    height: 100%;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar a {
    border: none;
    text-decoration: none;
}

#sidebar li {
    margin: 1%;
}

#sidebar li:hover {
    padding-left: 5px;

}

a.logo {
    text-decoration: none;
    color: rgb(15, 8, 59);
    font-style: italic;}

#header {
    background-color: rgb(216, 240, 255);
    overflow: auto;
    padding-left: 30px;
}

#subheader {
    background-color: rgb(183, 169, 255);
    overflow: auto;
    padding-left: 30px;
    color:rgb(10, 4, 45);
    font-size: 20px;
    margin: 0%;
    }

#subheader a {
    text-decoration: None;
    color: blue;    
    -webkit-transition: 
        color 1s;
    transition: color 1s;
}


#subheader td {
    background: rgb(189, 189, 239);
    animation: 1s remove_hover;
    padding: 0px;
    -webkit-transition: 
        padding 1s,
        background-color 1s,
        -webkit-transform 1s;
    transition:
    background-color 1s,
}

#subheader td:hover {
    background: linear-gradient(to top right, rgb(189, 189, 239), rgb(216, 240, 255));
    animation-duration: 1s;
    padding-left: 10px;
    padding-right: 10px;
}


caption {
    font-size: 20px;
    border-bottom: 2px ridge black;
    }

.moex_list table {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid pink;
}

.moex_list th, td, tr {
    border: 1px dotted pink;
}

.detail {
    margin: 2%;
}