body {
    background-color: #2EFAF1;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#main {
    float: left;
    width: 70%;
    padding: 0 0 0 30px;
}

#sidebar {
    float: right;
    width: 20%;
    padding: 10px;
    background-color: #FAD837;
    height: 100%;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar a {
    border: none;
    text-decoration: none;
    color: #A65B99;
}

#sidebar li {
    margin: 1%;
}

#sidebar li:hover {
    padding-left: 5px;

}

a.logo {
    text-decoration: none;
    color: #FA37D9;
    font-style: italic;}

#header {
    background-color: #2EFAF1;
    overflow: auto;
    padding-left: 30px;
}

#subheader {
    background-color: #7A7458;
    overflow: auto;
    padding: 0px;
    padding-left: 30px;
    font-size: 20px;
    margin: 0%;
    }

#subheader a {
    text-decoration: None;
    color: blue;    
    -webkit-transition: 
        color 1s;
    transition: color 1s;
}


#subheader td {
    background: #5A7D7B;
    animation: 1s remove_hover;
    padding: 0px;
    -webkit-transition: 
        padding 1s,
        background-color 1s,
        -webkit-transform 1s;
    transition:
    background-color 1s,
}

#subheader td:hover {
    background: linear-gradient(to top, #5A7D7B, #2EFAF1);
    animation-duration: 1s;
    padding-left: 10px;
    padding-right: 10px;
}


caption {
    font-size: 20px;
    border-bottom: 2px ridge black;
    }

.moex_list table {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid pink;
}

.moex_list th, td, tr {
    border: 1px dotted pink;
}

.detail {
    margin: 2%;
}