body {
    background-color: #12001F;
    color: #C1C986;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#main {
    float: left;
    width: 70%;
    padding: 0 0 0 30px;
}

#sidebar {
    float: right;
    width: 20%;
    padding: 10px;
    background-color: #41185E;
    height: 100%;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar a {
    border: none;
    text-decoration: none;
    color: #C1C986;
}

#sidebar li {
    margin: 1%;
    -webkit-transition:
        padding 0.5s,
        -webkit-transform 0.5s;
    transition: padding 0.5s,
}

#sidebar li:hover {
    padding-left: 5px;
    
}

a.logo {
    text-decoration: none;
    color: #7D4F9E;
    font-style: italic;}

#header {
    background-color: #12001F;
    overflow: auto;
    height: 80px;
    padding-left: 30px;
}

#subheader {
    background-color: #6A7427;
    overflow: auto;
    padding: 0px;
    padding-left: 30px;
    font-size: 20px;
    margin: 0%;
    height: 40px;
    text-align: center;
    }

#subheader a {
    text-decoration: None;
    color: #1B1F00;    
    -webkit-transition: 
        color 1s;
    transition: color 1s;
}


#subheader td {
    background: #6A7427;
    animation: 1s remove_hover;
    padding: 0px;
    -webkit-transition: 
        padding 1s,
        background-color 1s,
        -webkit-transform 1s;
    transition:
    background-color 1s,
}

#subheader td:hover {
    background: linear-gradient(to top, #6A7427, #BCF0EB);
    animation-duration: 1s;
    padding-left: 10px;
    padding-right: 10px;
}


.buttons {
    background-color: #7D4F9E;
    border: 1px ridge #C1C986;
}

button.profile {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 25%;
    border-style: solid;
    background-color: black;
}


caption {
    font-size: 20px;
    border-bottom: 2px ridge #7D4F9E;
    }

.moex_list table {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid #7D4F9E;
}

.moex_list th, td, tr {
    border: 1px dotted #7D4F9E;
}

.detail {
    margin: 2%;
}

.menu-list {
    background-color: #7D4F9E;
    color: #C1C986;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 120px;
    list-style: none;
    text-align: center;    
}

#menu .menu-list {
    display: none;    
}

#menu.show .menu-list {
    display: block;
}

button.language {
    position: absolute;
    right: 60px;
    width: 40px;
    height: 30px;
    top: 85px;
    cursor: pointer;
    border-radius: 25%;
    border-style: solid;
}

.languages-list {        
    position: absolute;   
    right: 80;
    top: 1000px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    list-style: none;
    text-align: center;
}

#languages-menu .languages-list {
    display: none;
}

#languages-menu.show .languages-list {
    display: block;
}