{% extends "shares/base.html" %}

{% load static %}

{% block title %}All securities{% endblock %}

{% block content %}
<div class="moex_list">
    <table>
        <caption>Список компаний торгуемых на Московоской бирже</caption>
        <tr>
            <th>Name</th>
            <th>Short name</th>
            <th>Secid</th>
            <th>Board</th>
        </tr>
        {% for secid in moex_list %}
            <tr>
                <td>{{ secid.name }}</td>
                <td>{{ secid.short_name }}</td>
                <td>{{ secid.secid }}</td>
                <td>{{ secid.board }}</td>
            </tr>
        {% endfor %}
    </table>>
</div>
{% endblock %}