{% extends "shares/base.html" %}
{% load static %}

{% block title %}Security{% endblock %}

{% block content %}
<div class="detail">
    <h2>{{ security.name }} ({{ security.sec_id }})</h2>
    <p>Short name: {{ security.short_name }}<br>Board: {{ security.board }}</p>
    <p>{{ security.description }}</p>

    <div class="line">
        <h3>График {{ security.name }}</h3>
        {% autoescape off %}
    
        {{ line_price }}
    
        {% endautoescape %}
    </div>
    <div class="analys_forms">
        <h3>Инструменты технического анализа</h3>
        <h4>Скользящие средние</h4>
        <form>            
            <p>SMA <input type="number" name="SMA"></p>
            <p>WMA <input type="number" name="WMA"></p>
            <p>EMA <input type="number" name="EMA"></p>
        </form>
        <form action="{% url "analys:add_bollinger" security.id %}" method="post">
            <h4>Полосы Боллинджера</h4> {{ bollinger_form }}
            {% csrf_token %}
        </form>
         <input type="checkbox" name="Bollinger">
        <h4>Осциляторы</h4>
        <form>
            <p>RSI <input type="number" name="RSI"></p>
        </form>
    </div>
</div>

{% endblock %}