{% extends "shares/base.html" %}
{% load static %}

{% block title %}Security{% endblock %}

{% block content %}
<div class="detail">
    <h2>{{ security.name }} ({{ security.sec_id }})</h2>
    <p>Short name: {{ security.short_name }}<br>Board: {{ security.board }}</p>
    <p>{{ security.description }}</p>

    <div class="line">
        <h3>График {{ security.name }}</h3>
        {% autoescape off %}
    
        {{ line_price }}
    
        {% endautoescape %}
    </div>
    <div class="analys_forms">
        <h3>Инструменты технического анализа</h3>
        <h4>Скользящие средние</h4>
        <form action="{% url "analys:add_moving_averages" security.id %}" method="post">            
            {{ moving_form.line_type }} {{ moving_form.period }}
            {% csrf_token %}
            <input type="submit" name="button" value="Add">
        </form>
        <h4>Осциляторы</h4>
        <form>
            <p>RSI <input type="number" name="RSI"></p>
        </form>
    </div>
</div>
{% endblock %}