{% extends "shares/base.html" %}
{% load static %}

{% block title %}Title page{% endblock %}

{% block content %}
    <div id="sidebar">
        <h2>Листинг компаний</h2>
        <h3>Избранное</h3>
        <h3>Все</h3>
        <ul>
            {% for sec in securities %}
            <li><a href="{{ sec.get_absolute_url }}">{{ sec.short_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="main">
        <div class="news">
            <h2>Новости</h2>
        </div>
        
    </div>
{% endblock %}