{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Shares{% endblock %}</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    <div id="header">
        <h1><a href="/" class="logo">My Shares</a></h1>
    </div>
    <div id="subheader">
        <table>
            <tr>
                <td><a href="{% url "shares:title_page" %}">{% trans "Home" %}</a></td>                
                <td><a href="{% url "shares:all_security_list" %}" title="Список всех компаний торгующихся на MOEX">
                    {% trans "MoexList" %}</a></td>
                <td><a href="#">{% trans "Techanalysis" %}</a></td>
                

                <div id="menu">                    
                    <button class="profile" onclick=""><img src=""></button>
                    <ul class="menu-list">
                    {% if user.is_authenticated %}
                        <li><a href="{% url "account_view" %}">{% trans "Profile" %}</a></li>
                        <li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
                    {% else %}
                        <li><a href="{% url "login" %}">{% trans "Log In" %}</a></li>
                        <li><a href="{% url "investor_registration" %}">
                            {% trans "Registration" %}
                        </a></li>
                    {% endif %}
                    </ul>                    
                </div>

                <div id="language-menu">
                    <button class="language">{{ language.name_local }}</button>
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <ul class="languages-list">
                        {% for language in languages %}
                        <li>
                            <a href="/{{ language.code }}/"
                            {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                                {{ language.name_local }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </tr>
        </table>
    </div>
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    
    <script>
        const menu = document.getElementById('menu');

        menu.addEventListener(
            'mouseenter', function (e) {
                menu.classList.toggle('show')
            }
        );
        
        menu.addEventListener(
            'mouseleave', function (e) {
                menu.classList.toggle('show')
            }
        );
        // menu.addEventListener(
        //     'click', function () {
        //         console.log('press')
        //     }
        // );

        const languageMenu = document.getElementById('language-menu');
        
        languageMenu.addEventListener(
            'click', function () {
               languageMenu.classList.toggle('show')
            }
        );

    </script>
</html>